.App {
  text-align: center;
  flex: 1;
  flex-grow: 1;
  border: 1px solid red;
  width: 100%;
  height: 100%;
}
.TopBar{
  background-color: #f7f8fa;
  border-bottom: 2px solid #eaecef; 
  min-height: 80px;
  display: flex;
  flex-direction: row;
}
.SearchBox{
  border: 1px solid black;
  margin: 5px 5px;
  width: 100%;
  flex: 2;
}
.Containers{
  padding: 10px;
  border: 1px solid black;
}
.MovieListItems{
  width: 100%;
  margin-top: 10px;
}
